body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #3b2f2f;
}

header {
    background-color: #d2691e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #3b2f2f;
    color: white;
    text-align: center;
    padding: 15px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d2691e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


nav a:first-child(){
    padding:10px;
    border: 3px solid #d2691e;
    border-radius:10px;
}


nav a:last-child(){
    padding:10px;
    border: 3px solid #d2691e;
    border-radius:10px;
}



