body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #3b2f2f;
}

header {
    background-color: darkorange;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.1em;
}

nav {
    text-align: center;
    padding: 15px 0;
    background-color: #3b2f2f;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid #d2691e;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:last-child{
    background-color: darkseagreen;
}

nav :nth-child(3){
    background-color: #ff9900;
}

nav :nth-child(2){
    background-color: brown;
}

nav :nth-child(1){
    background-color: yellowgreen;
}

nav a:hover {
    background-color: #d2691e;
    color: #fff;
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
}

.products {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-size: 1.4em;
    color: #d2691e;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border:5px solid green;
}

.card p {
    font-size: 1.1em;
    color: #555;
}

#contact p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #ff9900;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer h1 {
    font-size: 2em;
    font-family: 'Roboto';
}


footer div{
    background-color: darkseagreen;
}

